@use "../../../styles/variables" as *;

.card-wriper{
    background-color: $primary-gray-light;
    display: flex;
    flex-direction: column;
    overflow: visible;
    position: relative;
    h4{
        font-size: 24px;
        color: $black;
        font-weight: 600;
    }
}
