@use "../../../styles/variables" as *;

.card-wriper{
    padding: 20px;
    background-color: $primary-gray-light;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .oval{
        background-color: $primary-cyan;
        padding: 20px;
        width: 180px;
        height: 120px;
        border-radius: 50%;
        transform: rotate(20deg);
        display: flex;
        align-items: center;
        justify-content: center;
        
        .Icon{
            transform: rotate(-20deg);
        }
    }
    h4{
        font-size: 24px;
        color: $black;
        font-weight: 600;
    }
}
