@use "../../../styles/variables" as *;

.address-wropper{
    h5{
        display: inline-block;
        font-weight: 900;
        font-size: 23px;
        padding: 1px 0px;
        margin: 10px 0px;
        border-bottom: 3px solid $primary-gray-dark;
        
        &.text-cyan {
            color: $primary-cyan;
        }
        
        &.text-white {
            color: $white;
        }
    }
    h1{
        font-size: 76px;
        color: $black;
    }
}