@use "variables" as *;


.btn {
  padding: 0.75rem 2rem;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  background-color: $primary-gray-light;
  color: $black;
  transition: transform 0.5s ease, box-shadow 0.15s ease, opacity 0.15s ease;
  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }
  &:active {
    transform: translateY(0);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
  }
}
.btn--outline {
  padding: 0.75rem 2rem;
  border-radius: 999px;
  border: 1px solid $primary-gray-light;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  background-color: transparent;
  color: $primary-gray-light;
  transition: background-color 0.5s ease, color 0.15s ease,
    box-shadow 0.15s ease, transform 0.15s ease;

  &:hover {
    background-color: $white;
    color: $black;
    transform: translateY(-1px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
  }
}

