@import "tailwindcss";

:root {
  --primary-cyan: #13C5CC;
  --primary-gray-light: #F1F7FA;
  --primary-gray-dark: #838C98;
  --primary-bg-light: #EFF5F9;
  --white: #FFFFFF;
  --black: #1D2A4D;
}

body {
  box-sizing: border-box;
  direction: rtl;
  font-family: "Almarai", "IBM Plex Sans Arabic", "Tajawal", "Cairo", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: blue;
}